.form {
  width: 20rem;
  display: flex;
  gap: 1rem;
  position: relative;
}

.form__label {
  width: 100%;
}

.form__input {
  font-family: var(--font-family);
  border: 1px solid var(--base-shadow);
  width: 100%;
  display: block;
  padding: 1rem;
  color: grey;
  border-radius: 1rem;
}

.form__input:focus {
  outline: none;
  box-shadow: 0px 0px 2px 1px var(--primary-shadow);
}

.form__input--error {
  box-shadow: 0px 0px 2px 1px var(--warning) !important;
  border: 1px solid var(--warning);
}

.form__btn {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  display: block;
  border: 1px solid var(--base-shadow);
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
  padding: 1rem;
  background-color: var(--base-150);
}

.icon-search {
  display: flex;
  align-items: center;
  color: var(--base-content);
  font-weight: 700;
  font-size: 1.6rem;
}
