@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
  font-size: 62.5%;
  box-sizing: border-box;
  --font-family: "DM Sans", sans-serif;
  --primary: rgb(74, 179, 186);
  --primary-focus: rgb(19, 153, 162);
  --primary-shadow: rgba(74, 179, 186, 0.4);
  --warning: rgba(240, 52, 39, 0.35);
  --base-100: rgb(253, 253, 253);
  --base-150: rgb(247, 247, 247);
  --base-200: rgb(230, 230, 230);
  --base-300: rgb(207, 207, 207);
  --base-400: rgb(184, 185, 190);
  --base-content: rgb(113, 161, 164);
  --base-shadow: rgba(46, 55, 74, 0.1);
}

*,
*::after,
*::before {
  box-sizing: inherit;
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  border: none;
  scroll-behavior: smooth;
  user-select: none;
}

::-webkit-scrollbar {
  appearance: none;
  width: 10px;
  background-color: var(--base-200);
}

::-webkit-scrollbar-thumb {
  background-color: var(--base-400);
  display: block;
  min-height: 40px;
  border-radius: 10rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-shadow);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.section {
  height: 100%;
  max-width: 100%;
  margin-top: 6.2rem;
  padding: 4rem;
}

@media screen and (max-width: 900px) {
  :root {
    font-size: 59%;
  }
}

@media screen and (max-width: 600px) {
  :root {
    font-size: 56%;
  }
}
