/* CSS RESETS*/

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
  font-size: 62.5%;
  box-sizing: border-box;
  --font-family: "DM Sans", sans-serif;
  --primary: rgb(74, 179, 186);
  --primary-focus: rgb(19, 153, 162);
  --primary-shadow: rgba(74, 179, 186, 0.4);
  --accent: rgb(47, 129, 255);
  --warning: rgba(240, 52, 39, 0.35);
  --base-100: rgb(253, 253, 253);
  --base-150: rgb(247, 247, 247);
  --base-200: rgb(230, 230, 230);
  --base-300: rgb(207, 207, 207);
  --base-400: rgb(184, 185, 190);
  --base-content: rgb(113, 161, 164);
  --base-shadow: rgba(46, 55, 74, 0.1);
}

*,
*::after,
*::before {
  box-sizing: inherit;
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  border: none;
  scroll-behavior: smooth;
  user-select: none;
}

*:focus {
  outline: none;
}

ul {
  list-style: none;
}

.link:link,
.link:visited,
.link:hover,
.link:active {
  text-decoration: none;
  color: var(--accent);
}

.section {
  position: relative;
  height: 100vh;
  max-width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 900px) {
  :root {
    font-size: 59%;
  }
}

@media screen and (max-width: 600px) {
  :root {
    font-size: 56%;
  }
}
